.quiz-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn-submit  {
  width: 200px;
  padding: 1rem;
  border-radius: 25px;
  cursor: pointer;
    font-size: 20px;
  font-weight: 600;
  margin-left: 5rem;
}

.btn-submit:hover  {
box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

.quiz-card {
  width: 350px;
  height: 250px;
  background: #1a1a1a;
  border-radius: 18px;
  opacity: 0.9;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
  border: 1px solid #333;
}

.quiz-header {
  background: #0080a0;
  padding: 16px;
  font-size: 22px;
  font-weight: 600;
  color: white;
  text-align: center;
  border-bottom: 1px solid #333;
}

.quiz-options {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.quiz-option {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  color: #ddd;
  cursor: pointer;
  position: relative;
}


.quiz-option input {
  opacity: 0;
  position: absolute;
}


.checkmark {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 3px solid #555;
  display: inline-block;
  transition: 0.2s;
}


.quiz-option input:checked + .checkmark {
  border-color: #e9e62a;
  background: radial-gradient(circle, #fcf82d 40%, transparent 41%);
}
